h3 {
    padding-top: 7rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.7em;
    color: var(--cor-primaria);
    padding-bottom: 3rem;
}

h3::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--cor-primaria);
    margin-top: 2.2rem;
}

h4 {
    font-size: 1rem;
    color: #6c6c6c;
}

.msg-prod {
    padding-top: 5rem;
    text-align: center;
    font-size: 1.3em;
    color: var(--cor-primaria);
}

.btn-produtos {
    border: 1px solid;
    border-radius: 30px;
    padding-inline: .6rem;
    padding-block: .3rem;
    margin-top: 1rem;
    cursor: pointer;
    color: #019bdd;
    font-weight: 600;
}

.produtos {
    background-color: #019bdd;
    height: 100vh;
}

.slider {
    display: flex;
}

.slider .card {
    margin: .8rem;
    -webkit-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.slider img {
    width: 50%;
    padding: 1rem;
}

.card {
    text-align: center;
    height: 220px !important;
    width: 160px !important;
    background-color: var(--cor-primaria);
    border: 0.1px solid #7d8182;
    border-radius: 3%;
}

.card:hover {
    opacity: 70%;
    box-shadow: 1px 1px 1px 1px #7d8182;
}

@media screen and (min-width:750px) {
    h3 {
        padding-top: 05rem;
        padding-bottom: 05rem;
    }

    h4 {
        padding-bottom: 1rem;
    }

    .produtos {
        padding-inline: 1rem;
        padding-top: 6rem;
    }

    .slider img {
        width: 80%;
    }

    .card {
        text-align: center;
        height: 270px;
        width: 500px;
        margin: 0 auto;
        background-color: var(--cor-primaria);
        border: 0.1px solid #7d8182;
        border-radius: 3%;
    }
}

@media screen and (min-width:1000px) {
    h3 {
        padding-top: 02rem;
        padding-bottom: 2rem;
    }
}