h5 {
    padding-top: 7rem;
    padding-bottom: 1rem;
    font-size: 1.7em;
    color: var(--cor-tercearia);
    text-align: center;
}

h5::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--cor-tercearia);
    margin-top: 2.2rem;
}

.contatos i {
    font-size: 2.2em;
    padding-block: 2rem;
    padding-left: 3rem;
    cursor: pointer;
    color: var(--cor-tercearia);
}

.contatos {
    display: block;
    height: 100vh;
    background-size: 400%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/fundo_quemsamos-desktop.png);
}

.contatos div {
    display: flex;
}

.contatos p {
    padding-block: 2.2rem;
    font-size: 1.1rem;
}

@media screen and (min-width:758px) {
    h5 {
        padding-top: 09rem;
    }
}