.header {
    height: 10vh;
    padding: 1rem;
    position: fixed;
    display: flex;
    padding-inline: 2rem;
    z-index: 1;
    width: 100%;
}

header.rolagem {
    background-color: var(--cor-secundaria);
    padding: 1rem;
    padding-inline: 2rem;
    height: 7vh;
}

nav a:hover {
    transform: scale(1.1);
    transition: .2s;
}

.menu-mobile {
    background-color: #0000008c;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
}

button {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.linha {
    width: 40px;
    height: 04px;
    background-color: var(--cor-primaria);
    display: block;
    margin: 08px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
}

button.ativar .linha:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
}

button.ativar .linha:nth-child(2) {
    display: none;
}

button.ativar .linha:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}

@media screen and (max-width:750px) {
    .menu {
        display: none;
    }

    .logo {
        width: 70%;
    }

    .logo img {
        height: 50px;
        width: 50px;
        padding-left: .3rem;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 77px);
    }

    .menu-mobile nav a {
        color: #fff;
        display: block;
        padding: 20px 30px;
        font-size: 16pt;
    }

    .menu-mobile nav a:hover {
        background-color: #00000080;
    }
}

@media screen and (min-width:750px) {
    .logo {
        width: 22%;
        padding-left: 1.4rem;
    }

    .logo img {
        height: 70px;
        width: 70px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        color: #fff;
        font-size: 16pt;
        padding-inline: 1.5rem;
        padding-block: 1.8rem;
    }


    button {
        display: none !important;
    }
}


@media screen and (min-width:900px) {
    .logo {
        width: 33%;
        padding-left: 2.3rem;
    }

    .logo img {
        height: 50px;
        width: 50px;
    }

    nav a {
        padding-block: .8rem;
    }
}

@media screen and (min-width:1280px) {
    .logo {
        padding-left: 6rem;
    }
}